{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Learn Japanese Language</title>
  
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="app">
  <p><button v-if="!words" @click="start('hiragana')">START EASY</button></p>
  <p><button v-if="!words" @click="start('word')">START HARD</button></p>
  <div v-if="!words && countAll>0">
    <h3>Result</h3>
    <p>Correct Answer: [[ countCorrect ]] /[[ countAll ]]</p>
    <p>Speed: [[ countAll / 20 ]] words /s</p>
  </div>

  <div v-if="words">
    <h4>[[ timeLeft + ' sec left' ]]</h4>

    <h3 v-if="answer.word">[[ answer.word ]]</h3>
    <h3 v-if="answer.hiragana">[[ answer.hiragana ]]</h3>
    <p v-for="word in words">
      <input :id="word.pk" type="radio" v-model="option" :value="word" @change="judgeAnswer">
      <label :for="word.pk">[[ word.romaji ]]</label>
    </p>

    <div v-if="judge!=null">
      <h3 v-if="judge">Right!</h3>
      <h3 v-if="!judge">Wrong!</h3>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      mode: '',
      words: null,
      answer: null,

      option: null,
      judge: null,

      timeLeft: 0,
      countAll: 0,
      countCorrect: 0,
    },
    methods: {
      start: function(mode) {
        this.timeLeft = 20
        this.countAll = 0
        this.countCorrect = 0
        intervalTimeLeft = setInterval(
          function() { this.timeLeft-- }.bind(this), 1000
        )
        this.mode = mode
        axios
          .get('words/' + this.mode + '/null/')
          .then(res => (this.words = res.data))
      },
      getWords: function() {
        this.option = this.judge = null
        axios
          .get('words/' + this.mode + '/' + this.answer.pk + '/')
          .then(res => (this.words = res.data))
      },
      judgeAnswer: function() {
        if (this.option.pk == this.answer.pk) {
          this.judge = true
          this.countCorrect += 1
        } else {
          this.judge = false
        }
        this.countAll += 1
        timeoutAfterJudge = setTimeout(this.getWords, 650)
      },
    },
    watch: {
      words: function() {
        if (this.words) {
          len = this.words.length
          r = Math.floor(Math.random() * len)
          this.answer = this.words[r]
        }
      },
      timeLeft: function() {
        if (this.timeLeft == 0) {
          this.words = null
          clearTimeout(timeoutAfterJudge)
          clearInterval(intervalTimeLeft)
        }
      }
    },
    delimiters: ['[[', ']]'],
  })
</script>

</body>
</html>
