{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Learn Japanese Language</title>
  
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>

<div id="app">
  {% csrf_token %}
  <div v-if="!words">
    <p><button @click="start('Easy')">PLAY EASY</button></p>
    <p><button @click="start('Normal')">PLAY NORMAL</button></p>
    <p><button @click="start('Hard')">PLAY HARD</button></p>
    <div v-if="countAll>0">
      <h3>Result</h3>
      <p>Play Mode: [[ mode ]]</p>
      <p>Correct Answer: [[ countCorrect ]] /[[ countAll ]]</p>
      <p>Speed: [[ countAll / 20 ]] words /s</p>
    </div>
    <div class="meta">
      <p>This game has been played <strong>[[ playedTime ]]</strong> times by <strong>[[ clientCount ]]</strong> people.</p>
      <p>&copy;2020 <a href="https://timshaw9.com/en/about-timshaw9/">寺井颯紀</a></p>
    </div>
  </div>

  <div v-if="words">
    <h4>[[ timeLeft + ' sec left' ]]</h4>

    <h3 v-if="answer.word">[[ answer.word ]]</h3>
    <h3 v-if="answer.hiragana">[[ answer.hiragana ]]</h3>
    <p v-for="word in words">
      <input :id="word.pk" type="radio" v-model="option" :value="word" @change="judgeAnswer">
      <label :for="word.pk">[[ word.romaji ]]</label>
    </p>

    <div v-if="judge!=null">
      <h3 v-if="judge">Right!</h3>
      <h3 v-if="!judge">Wrong!</h3>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      mode: '',
      words: null,
      answer: null,

      option: null,
      judge: null,

      timeLeft: 0,
      countAll: 0,
      countCorrect: 0,

      analytics: null,
      playedTime: 0,
      clientCount: 0,
    },
    methods: {
      start: function(mode) {
        this.timeLeft = 20
        this.countAll = 0
        this.countCorrect = 0
        this.judge = null
        intervalTimeLeft = setInterval(
          function() { this.timeLeft-- }.bind(this), 1000
        )
        this.mode = mode
        axios
          .get('words/' + this.mode + '/null/')
          .then(res => (this.words = res.data))
      },
      getWords: function() {
        this.option = this.judge = null
        axios
          .get('words/' + this.mode + '/' + this.answer.pk + '/')
          .then(res => (this.words = res.data))
      },
      judgeAnswer: function() {
        if (this.option.pk == this.answer.pk) {
          this.judge = true
          this.countCorrect += 1
        } else {
          this.judge = false
        }
        this.countAll += 1
        timeoutAfterJudge = setTimeout(this.getWords, 650)
      },
    },
    watch: {
      words: function() {
        if (this.words) {
          len = this.words.length
          r = Math.floor(Math.random() * len)
          this.answer = this.words[r]
        }
      },
      timeLeft: function() {
        if (this.timeLeft == 0) {
          this.words = null
          clearTimeout(timeoutAfterJudge)
          clearInterval(intervalTimeLeft)

          axios.post(
            'analytics/',
            {headers: {
              'X-CSRFToken': Cookies.get('csrftoken'),
            }},
          )
        }
      },
      analytics: function() {
        if (this.analytics) {
          if (this.analytics.played_time) {
            this.playedTime = this.analytics.played_time
          }
          this.clientCount = this.analytics.client_count
        }
      },
    },
    mounted: function() {
      axios
        .get('analytics/')
        .then(res => (this.analytics = res.data))
    },
    delimiters: ['[[', ']]'],
  })
</script>

</body>
</html>
